 <mat-card-title class="flex m-l-20 m-r-20">
        <h2>{{"userManagement" | translate}}     <ng-container *ngIf="!readonly">
        <div class="pull-right">
          <span class="flex-spacer"></span>
          <button class="btn btn-primary btn-lg" mat-button (click)="openBatchCreateUserDialog()">
              {{"batchCreation" | translate}}
          </button>
        </div>
      </ng-container> </h2>

    </mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="dataSource" matSort class="management-table">
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"firstName" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByFirstName' | translate"
                               ngModel (ngModelChange)="filterBy('firstName', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"lastName" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByLastName' | translate"
                               ngModel (ngModelChange)="filterBy('lastName', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"email" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByEmail' | translate"
                               ngModel (ngModelChange)="filterBy('email', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="organization">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"organization" | translate}}</div>
                    <dz-autocomplete
                            [searchFunction]="organizationService.organizationsSearchFunction"
                            [placeholder]="'filterByOrg' | translate"
                            [searchPlaceholder]="'nameOrCid' | translate"
                            ngModel
                            (ngModelChange)="filterBy('organization', Operator.EQUAL, $event?.id)"
                            [displayWith]="organizationService.organizationToString"
                            [enableToClear]="true">
                    </dz-autocomplete>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.organization.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"role" | translate}}</div>
                    <mat-form-field>
                        <mat-select [placeholder]="'filterByRole' | translate"
                                    ngModel (ngModelChange)="filterBy('role', Operator.EQUAL, $event?.id)">
                            <mat-option>{{'any' | translate}}</mat-option>
                            <mat-option *ngFor="let role of authSubordinateRoles" [value]="role">
                                {{role.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.role.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="mobilePhone">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"mobilePhoneNumber" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByPhone' | translate"
                               ngModel (ngModelChange)="filterBy('mobilePhoneNumber', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.mobilePhoneNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="workPhone">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"workPhoneNumber" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByPhone' | translate"
                               ngModel (ngModelChange)="filterBy('workPhoneNumber', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.workPhoneNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pin">
                <mat-header-cell *matHeaderCellDef>
                    <div mat-sort-header>{{"pin" | translate}}</div>
                    <mat-form-field>
                        <input matInput [placeholder]="'filterByPin' | translate"
                               ngModel (ngModelChange)="filterBy('pin', Operator.CONTAINS, $event)">
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let user">{{userService.padPin(user.pin)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let user">
                    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user.editable" class="row-menu-button">
                            <mat-icon>more_vert</mat-icon>

                    </button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <button mat-menu-item (click)="openEditDialog(user)">
                            {{"edit" | translate}}
                        </button>
                        <button mat-menu-item (click)="confirmDeletion(user, 'userDeleteConfirmation', {firstName: user.firstName, lastName: user.lastName})">
                            {{"delete" | translate}}
                        </button>
                        <button mat-menu-item (click)="sendPin(user)">
                            {{"sendPin" | translate}}
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]"
                       [length]="totalElements">
        </mat-paginator>
    </mat-card-content>

