
    <!--Title-->
    <ng-container *ngIf="tableData && tableData!==null">
    <ng-container *ngIf="(tableData).length===0">
      <div class="no-record text-center">
         Record not found {{tableData}}
      </div>
    </ng-container>
    <ng-container *ngIf="(tableData).length>0">
    <mat-card-title class="flex m-l-20 m-r-20">
        <h3 class="template__header mdl-cell mdl-cell--12-col mdl-typography--body-2">  {{ titleComponent | translate }}
          <ng-container *ngIf="!csReadonly">
            <span class="flex-spacer"></span>
            <button mat-button class="btn btn-primary pull-right"  (click)="changeStatus(null)" *ngIf="titleOfComponent=='customerManagement'">
                <mat-icon>save_alt</mat-icon>   {{ "Import Customers" }}
            </button>

            <button  mat-button *ngIf="addbutton" class="btn btn-primary pull-right" (click)="openEdit(null,null)">
              <mat-icon>add_circle_outline</mat-icon>  {{ addbutton }}
            </button>
        </ng-container>

        </h3>

    </mat-card-title>

      <!--Common Datatable for loading records-->
      <mat-card-content>
        <div class="export-container" style="padding: 20px;">
          <button mat-raised-button (click)="exportTable('commonGrid')" *ngIf="exportButton">Export</button>
        </div>
        <div class="custom_mat_class">
            <mat-radio-group>
          <table mat-table  [dataSource]="dataSource" matSort [ngClass]="(titleComponent=='customerAssignment')?'mattableCustom':''" class="app-table">
            <ng-container [matColumnDef]="tableData"  *ngFor="let tableData of columnHeader; let i = index">
              <th mat-header-cell *matHeaderCellDef>
                <div class="mycls" mat-sort-header *ngIf="tableData!='radio'">{{ tableData | translate }}</div>
                  <label *ngIf="hasFilter">
                      <span>
                        <mat-form-field *ngIf="tableData!='actions' && tableData!='radio'">
                          <input matInput ngModel name="{{tableData}}" (keyup)="applyFilter($event.target.value, tableData)"
                           [placeholder]="tableData | translate ">
                        </mat-form-field>
                      </span>
                    </label>
                </th>
                <!-- <td>Haa</td> -->
              <td mat-cell *matCellDef="let row;let i=index" (click)="rowClick(row,tableData)">

                  <span *ngIf="tableData=='radio'" class="radio-check">
                    <!-- <input type="radio" [(ngModel)]="selectedPerson" [value]="row" (change)="getValuechange(row)" [checked]="i === 0 ? true : false"> -->
                      <mat-radio-group [(ngModel)]="selectedPerson" (change)="getValuechange(row)">
                          <mat-radio-button [value]="row" [checked]="i === 0 ? true : false"></mat-radio-button>
                        </mat-radio-group>
                  </span>


                <span *ngIf="tableData != 'status' && tableData != 'jobID'
                && tableData != 'provisioningRequestID' && tableData != 'ipId'" [innerHtml]="row[tableData]"></span>
                <span *ngIf="tableData == 'status'">
                  <ng-container >
                    <span [ngClass]="row[tableData]" ></span>
                  </ng-container>
                </span>
                <!-- <span *ngIf="tableData == 'podName'">
                  <ng-container >
                    <a [innerHTML]="row[tableData]" (click)="getPoddetails(row)"></a>
                  </ng-container>
                </span> -->

                <span *ngIf="tableData == 'ipId'">
                    <ng-container >
                      <a [innerHTML]="row[tableData]" (click)="getIpnetwork(row)"></a>
                    </ng-container>
                  </span>


                <span *ngIf="tableData == 'jobID'">
                  <ng-container >
                    <a [innerHTML]="row[tableData]" (click)="changejobStatus(row)"></a>
                  </ng-container>
                </span>

                <span *ngIf="tableData == 'provisioningRequestID'">
                  <ng-container >
                    <a [innerHTML]="row[tableData]" (click)="jobvarsDetails(row)"></a>
                  </ng-container>
                </span>

                <span *ngIf="tableData == 'actions'">
                    <ng-container>
                        <button mat-button [matMenuTriggerFor]="menu"  class="action" aria-label="Action For Edit and Delete">
                            <mat-icon>more_vert</mat-icon>

                          </button>
                          <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="downloadLogs(row)" *ngIf="titleComponent=='Job Queue'">
                                  <mat-icon>cloud_download</mat-icon>
                                  <span>Download logs</span>
                                </button>
                                <button mat-menu-item (click)="restartJobs(row)" *ngIf="titleComponent=='Job Queue'">
                                    <mat-icon>refresh</mat-icon>
                                    <span>Restart Jobs</span>
                                  </button>
                                  <button mat-menu-item (click)="resumeJobs(row)" *ngIf="titleComponent=='Job Queue'">
                                      <mat-icon>refresh</mat-icon>
                                      <span>Resume Jobs</span>
                                    </button>
                            <button mat-menu-item (click)="openEdit(row)" *ngIf="editButton">
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                            </button>

                            <button mat-menu-item (click)="deleteRow(row)" *ngIf="hasDelete">
                              <mat-icon>delete</mat-icon>
                              <span >Delete</span>
                            </button>
                          </mat-menu>
                    </ng-container>
                </span>
            </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnHeader"></tr>
            <tr mat-row *matRowDef="let row; columns: columnHeader;"></tr>
        </table>
        </mat-radio-group>
        </div>
    </mat-card-content>
      <!-- <mat-card-content *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
          <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
      </mat-card-content> -->
    <!--Mat pagination with custom addons-->
    <div *ngIf="hasPaging">
      <mat-paginator
      [pageSizeOptions]="[5, 10, 15, 20,30,40]"
      [length]="pageLength"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      showFirstLastButtons
      (page)="getNext($event)"></mat-paginator>
    </div>
  </ng-container>

</ng-container>
<ng-container *ngIf="!tableData || tableData=== null">
  <tr>
      <td colspan="4">Record not found {{tableData}}</td>
  </tr>
</ng-container>
